/* Global reset */
*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/* Yükseklik */
html,
body {
  height: 100%;
}

/* Arka planı App.css yönetiyor */
body {
  margin: 0;
}

/* Root tüm ekranı kaplasın */
#root {
  width: 100%;
  min-height: 100vh;
}
